flask==3.0.3
flask-cors==4.0.1
gunicorn==22.0.0
numpy
pandas
scikit-learn
psycopg2-binary
python-dotenv==1.0.1
twilio==9.3.3
streamlit==1.33.0
streamlit-option-menu==0.3.12
matplotlib
Werkzeug==3.0.3
joblib
bcrypt
imbalanced-learn
